#cms-content {

}
.fixed-action-btn {
	bottom:130px;
}
@media screen and (min-width: 600px) {
	#cms-content {
		margin: 0;
		padding: 0;
	}
	.page-content {
		background: url('../images/fish.svg') no-repeat center center;
		background-size: 100% 100%;
	}
}